* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
}

main {
  height: 100dvh;
  overflow-x: hidden;
  perspective: 10px;
  scroll-behavior: smooth;
}

/* Topografy */

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

p {
  font-size: 1.2rem;
  color: white;
  text-align: end;
  margin-right: 3rem;
}

/* Navbar */
nav {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1040;
  margin: 5rem auto;
  transition: all 0.9s;
}

.not-scrolled {
  max-width: 900px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 6vh;
  position: sticky;
  top: 0;
  z-index: 1040;
}

.scrolled {
  background-color: rgb(0, 115, 182);
  color: rgb(48, 39, 39);
  width: 100%;
  height: 8.2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1040;
}

.scrolled-link {
  color: #e7e7e7; 
}

.logo {
  position: absolute;
  left: 2rem;
  top: 9px;
  z-index: 1040;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

nav a:hover {
  color: coral;
}

nav a {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1.5px;
  transition: 0.5s;
}

.hamburger {
  padding-right: 1.5rem;
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 23px;
  height: 3px;
  margin: 4px;
  background-color: antiquewhite;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  nav a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1055px) {
  .hamburger {
    display: block;
  }

  .not-scrolled {
    max-width: 900px;
    border-bottom: none;
    border-top: none;
    height: 6vh;
  }

  nav {
    justify-content: end;
    margin-top: 10px;
    width: 100%;
    border-bottom: none;
    border-top: none;
    position: fixed;
    top: 0;
  }

  body {
    overflow-x: hidden;
  }

 

  .nav-links {
    position: absolute;
    right: -70px;
    height: 92vh;
    top: 8vh;
    background-color: #0d220f;
    display: flex;
    flex-direction: column;
    width: 26rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 0.9;
  }

  .nav-links li {
    opacity: 0;
  }
}
.nav-active {
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fade-in {
  animation: navLinkFade 0.5s ease forwards;
}

.nav-links li {
  animation-delay: calc(var(--index) / 7 * 1s + 0.5s);
}

.reverse-animation {
  animation-direction: reverse !important;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Splash */

.splash {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  width: auto;
  position: absolute;
  height:139vh;
  transform: translateZ(-10px) scale(2.06);
}

.splash-text {
 padding: 0 4rem;
 position: relative;
 left: 4rem;
 top: 12rem;
 max-width: 800px;
  z-index: 0;
}

.splash-text h1, h2, h3, p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 769px) {
  .splash-text {
    padding: 0 2rem;
    left: 1rem;
    top: 10rem;
  }

  .splash-text h1 {
    font-size: 2.5rem;
  }
}

/*.splash::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/images/pexels-mali-142497.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}*/

/* Helpers */
.py-12 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.ps-7 {
  padding-left: 43px;
}
/* Why us */

.why-us {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: rgba(131, 205, 228, 0.719);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top:  1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.why-us h2 {
  color: rgb(243, 240, 240);
  font-weight: 900;
  margin-bottom: 2rem;
}

.why-us h3 {
  color: rgb(233, 228, 228);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 10px 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex: 1 0 370px;
  margin: 1rem;
  padding: 2rem;
}


.card img {
  width: 100%;
  max-width: 420px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.container p {
  text-align: left;
}

.container ol {
  padding: 1rem 1.6rem;
}

.container li {
  padding: 0.5rem 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
} 

@media screen and (max-width: 769px) {
 .ps-7 {
    padding-left: 0;
  }

}

.services {
  width: 100%;
  height: 100dvh;
  background-color: #f5f5f5;
  
}