* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #999999;
}

main {
  height: 100dvh;
  overflow-x: hidden;
  perspective: 10px;
  scroll-behavior: smooth;
}

/* Helpers */

.bg-white {
  background-color: white;
}

/* Topografy */

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

p {
  font-size: 1.2rem;
  color: white;
  text-align: start;
  margin-right: 3rem;
}

/* Navbar */
nav {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1040;
  margin: 5rem auto;
  transition: all 0.9s;
}

.not-scrolled {
  max-width: 1000px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 6vh;
  position: sticky;
  top: 0;
  z-index: 1040;
}

.scrolled {
  background-color: rgb(0, 115, 182);
  color: rgb(48, 39, 39);
  width: 100%;
  height: 9vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1040;
}

.scrolled-link {
  color: #e7e7e7; 
}

.logo {
  position: absolute;
  left: 2rem;
  top: 7px;
  z-index: 1040;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

nav a:hover {
  color: coral;
}

nav a {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1.5px;
  transition: 0.5s;
}

.hamburger {
  padding-right: 1.5rem;
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 23px;
  height: 3px;
  margin: 4px;
  background-color: antiquewhite;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  nav a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1055px) {
  .hamburger {
    display: block;
  }

  .not-scrolled {
    max-width: 900px;
    border-bottom: none;
    border-top: none;
    height: 6vh;
  }

  nav {
    justify-content: end;
    margin-top: 10px;
    width: 100%;
    border-bottom: none;
    border-top: none;
    position: fixed;
    top: 0;
  }

  body {
    overflow-x: hidden;
  }

 

  .nav-links {
    position: absolute;
    right: -70px;
    height: 92vh;
    top: 8vh;
    background-color: #549ec0;
    display: flex;
    flex-direction: column;
    width: 21rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 0.9;
  }

  .nav-links li {
    opacity: 0;
    margin-right: 3.4rem;
  }
}
.nav-active {
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fade-in {
  animation: navLinkFade 0.5s ease forwards;
}

.nav-links li {
  animation-delay: calc(var(--index) / 7 * 1s + 0.5s);
}

.reverse-animation {
  animation-direction: reverse !important;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Splash */

.splash {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  width: auto;
  position: absolute;
  height:145vh;
  transform: translateZ(-10px) scale(2.06);
}

.splash-text {
 padding: 0 4rem;
 position: relative;
 left: 4rem;
 top: 12rem;
 max-width: 800px;
  z-index: 0;
}

.splash-text h1, h2, h3, p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 769px) {
  .splash-text {
    padding: 0 2rem;
    left: 1rem;
    top: 10rem;
  }

  .splash-text h1 {
    font-size: 2.5rem;
  }
}

/*.splash::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/images/pexels-mali-142497.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}*/

/* Helpers */
.py-12 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-8 {
  padding-left: 32px;
  padding-right: 32px;
}

.p-2 {
  padding: 8px;
}

.p-4 {
  padding: 16px;
}

.p-6 {
  padding: 24px;
}

.p-8 {
  padding: 32px;
}

.ps-7 {
  padding-left: 43px;
}

.mt-6 {
  margin-top: 3rem;
}
/* Why us */

.why-us {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: rgba(54, 163, 196, 0.781);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top:  1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.why-us h2 {
  color: rgb(243, 240, 240);
  font-weight: 900;
  margin-bottom: 2rem;
}

.why-us h3 {
  color: rgb(233, 228, 228);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 10px 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex: 1 0 370px;
  margin: 1rem;
  padding: 2rem;
}


.card img {
  width: 100%;
  max-width: 420px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.container p {
  text-align: left;
}

.container ol {
  padding: 1rem 1.6rem;
}

.container li {
  padding: 0.5rem 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
} 

@media screen and (max-width: 769px) {
 .ps-7 {
    padding-left: 0;
  }

  .p-8 {
    padding: 1rem;
  }

  .px-8 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card {
    margin: .3rem;
    padding: 1rem;
  }

}

/* About us */

.content-wrapper {
  width: 100%;
  background-color: #999999;
}

.aboutus-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 2rem;
}

.about-text {
  flex: 1 1 40%;
  padding: 1rem 0 3rem 0;
  margin-top: 5rem;
  margin-bottom: 5rem
}

.about-text p {
  text-align: left;
  padding: 5px 0;
  letter-spacing: 1px;
  margin-right: 1px0;
}

.about-text ol {
  padding: 1rem 1.6rem;
}

.about-text li {
  padding: 0.2rem 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
}

.about-image {
  flex: 1 1 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 720px;
}

.slide {
  width: 100%;
  max-width: 720px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.active {
  display: block;
  opacity: 1;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  z-index: 999;
}

button.prev {
  left: 30px;
}

button.next {
  right: 30px;
}



.aboutus-container h2 {
  color: white;
  font-weight: 900;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1300px) {
  .about-text, .about-image {
      flex: 1 1 100%; 
  }

  .about-text {
    padding: 1rem 0;
    margin-bottom: 1rem;
  }

  .about-text p {
    margin-right: 0;
  }
}

/* Services */

.content-wrapper-services {
  width: 100%;
  background-color: #ffffff;
}

.services-container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.services-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-container h4 {
  letter-spacing: 1px;
  text-align: left;
  font-weight: 300;
  margin: 5px 20px;
  font-size: 15px;
  text-shadow: none;
}

.flip-card {
  width: 440px;
  height: 400px;
  perspective: 1000px; /* Provides a 3D space for the transformation */
  margin: 10px; /* Just for spacing */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d; /* Ensures children (front/back) are positioned in 3D space */
  cursor: pointer;
  
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg); /* Flips the card */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back of the face when rotated */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 40px rgba(79, 107, 107, 0.295);
}

.stairs {
  background-image: url("images/stairs.webp");
}

.office {
  background-image: url("images/office.webp");
}

.floor {
  background-image: url("images/floor.webp");
}

.windows {
  background-image: url("images/windows.webp");
}

.front {
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  border-radius: 10px;
}
.flip-card-front {
  background-color: #070707;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg); /* Orient the back face opposite to the front */
  border-radius: 10px;
}

.flip-card h2 {
  padding: 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 769px) {
  .services-container {
    padding: 2rem 1rem;
  }
}

/* Products */

.products {
  width: 100%;
  background-color: #999999;
}

.product-container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex: 1 1 300px;
  min-height: 301px;
  margin: 1.6rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(29, 48, 48, 0.418);
}

.product-card h4 {
  color: #525252;
  font-weight: 900;
  margin: 10px 0;
  font-size: 1.4rem;
}

.product-card p {
  color: #525252;
  font-weight: 300;
  margin: 7px 0;
  text-shadow: none;
  font-size: 1rem;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
} 

@media screen and (max-width: 769px) {
  .product-card {
    margin: 0.6rem;
  }

  .product-container {
    padding: 2rem 1rem;
  }
}

/* Environment */

.environment {
  width: 100%;
  background-image: url("images/pexels-mali-142497.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.environment-container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: rgba(23, 80, 36, 0.432);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top:  3rem;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.environment-container p, ol {
  color: white;
  font-size: 1rem;
  text-align: left;
  margin-right: 3rem;
  font-weight: 300;
}

.text {
  flex: 1 1 50%;
  padding: 1rem;
}

.text ol {
  margin-top: 16px;
}

/* Footer */

footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 1rem;
  height: 20dvh;
}
footer p {
  font-size: 1rem;
  margin: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer-text {
  flex: 1 1 30%;
  padding: 1rem;
}